[dev-packages]
"flake8" = "==3.7.9"
pyflakes = "*"
pylint = ">=1.8"
black = "==19.10b0"
pytest = ">=2.9.2"
pipenv-to-requirements = ">=0.1.9"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
pycodestyle = "*"
pytest-mock = "*"
pytest-sugar = "*"
mock = "*"
rope = "*"
aiohttp-devtools = "*"
pytest-cov = "*"
pytest-asyncio = "*"
pytest-aiohttp = "*"
pytest-benchmark = "*"

[packages]
pbr = "*"
aiohttp = ">3.0.0"
colorama = "*"
structlog = "*"
gunicorn = "*"
yarl = "<=1.0.0"
sentry-sdk = "*"
psutil = "*"
ujson = "*"
